@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Teko:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter,
.frontendTLetter,
.gardeningGLetter,
.upPLetter,
.theirTLetter,
.rootTLetter,
.takeKLetter,
.developerRLetter,
.toOLetter,
.developerELetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  background-color: blue;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter,
.gardeningELetter,
.improveOLetter,
.theirHLetter,
.wantedNLetter,
.skillsLLetter,
.developerVLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter,
.skillsLTwoLetter,
.wantedDLetter,
.wantedTLetter,
.rootOTwoLetter,
.improveRLetter,
.becauseCLetter,
.improveMLetter,
.takeALetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* DID word */

.didDLetter,
.becauseETwoLetter,
.rootRLetter,
.skillsSTwoLetter,
.takeTLetter,
.exclamation-mark,
.skillsSLetter .wantedWLetter,
.developerPLetter {
  font-size: 25px;
  font-weight: bold;
  color: magenta;
  text-decoration: underline;
  font-family: "Bona Nova SC", sans-serif;
}

.didILetter,
.theyELetter,
.improvePLetter,
.frontendNTwoLetter,
.becauseALetter,
.gardeningDLetter {
  font-size: 40px;
  font-weight: 700;
  color: hsl(5, 89%, 38%);
  letter-spacing: 3ch;
  font-family: "Teko", sans-serif;
}

.didDTwoLetter,
.developerOLetter,
.developerDLetter,
.takeKLetter,
.skillsKLetter,
.gardeningRLetter,
.improveILetter,
.frontendNLetter,
.theyHLetter {
  font-size: 30px;
  font-weight: 300;
  color: hsl(70, 89%, 38%);
  text-decoration: overline;
  background-color: #ff6;
  font-weight: bold;
  font-style: italic;
  font-stretch: expanded;
  font-family: "Pacifico", sans-serif;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(234, 255, 0),
    0 0 0.5em rgb(255, 0, 212);
}

/* THE word */

.theTLetter,
.wantedALetter,
.upULetter,
.frontendRLetter,
.frontendDLetter,
.theyYLetter,
.theirELetter,
.gardeningNTwoLetter,
.theyTLetter,
.gardeningGTwoLetter {
  font-size: 59px;
  font-weight: 400;
  background-color: lawngreen;
  color: rgb(55, 28, 230);
  text-decoration: line-through;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.theHLetter,
.improveELetter,
.developerLLetter,
.frontendELetter,
.gardeningNLetter,
.developerETwoLetter,
.theirRLetter {
  font-size: 90px;
  font-weight: 700;
  background: linear-gradient(90deg, #ff0000, #ff7300, #fffb00, #48ff00);
  text-transform: uppercase;
  letter-spacing: -3ch;
  font-family: "Teko", sans-serif;
  color: rgb(182, 167, 218);
}

.theELetter,
.improveVLetter,
.becauseSLetter,
.wantedELetter,
.becauseSLetter,
.question-mark,
.developerEThreeLetter,
.theirILetter,
.becauseELetter,
.skillsILetter,
.wantedWLetter,
.frontendOLetter {
  font-size: 18px;
  background-color: bisque;
  font-weight: 700;
  color: rgb(234, 255, 0);
  text-decoration: green wavy underline;
  font-family: "Ceviche", sans-serif;
}

/* FRONT-END word */

.frontendFLetter,
.becauseBLetter,
.becauseULetter,
.hyphen,
.toTLetter,
.gardeningALetter,
.skillsSLetter,
.rootOLetter,
.takeELetter,
.gardeningILetter {
  font-size: 35px;
  font-weight: normal;
  background-color: #ff7300;
  color: rgb(234, 255, 0);
  text-decoration: rgb(46, 185, 255) dashed underline;
  font-family: "Pacifico", sans-serif;
  font-style: oblique;
  text-transform: uppercase;
}
